<div class="page-header">
  <h1>
    Restaurant tags
    <a href="/restaurant_tags/new" class="btn btn-lg btn-success">New Restaurant tag</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Restaurant</th>
        <th>Tag</th>
        <th>Actions</th>
      </tr>

      <% @restaurant_tags.each do |restaurant_tag| %>
      <tr>
        <td>
          <% if restaurant_tag.restaurants.present? %>
            <a href="/restaurants/<%= restaurant_tag.restaurants.id %>">
              <%= restaurant_tag.restaurants.name %>
            </a>
          <% end %>
        </td>
        <td>
          <% if restaurant_tag.tag.present? %>
            <a href="/tags/<%= restaurant_tag.tag.id %>">
              <%= restaurant_tag.tag.name %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/restaurant_tags/<%= restaurant_tag.id %>" class="btn btn-primary">Show</a>
          <a href="/restaurant_tags/<%= restaurant_tag.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_restaurant_tag/<%= restaurant_tag.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @restaurant_tags, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
